body {
    margin: 0;
    padding: 0;
    font-family: Arian, sans-serif;
    background: radial-gradient(circle at 0% 0%, #202020, #000000);
    color: white;
    text-align: center;
    overflow: hidden; /* Impede scroll */
    height: 100vh;
    position: relative;
}

main {
    position: relative;
    height: calc(100vh - 60px); /* Considera o header */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

.background-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../img/logonero.png') no-repeat center center/cover;
    opacity: 0.01;
    z-index: -1;
}

.upload-box {
    background-color: rgba(255, 255, 255, 0.05);
    padding: 30px;
    border-radius: 12px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.6);
    margin-top: 50px;
    width: 90%;
    max-width: 500px;
}

.upload-form {
    display: flex;
    flex-direction: column;
}

.form-group {
    margin-bottom: 20px;
}

input[type="file"] {
    padding: 10px;
    border: none;
    border-radius: 6px;
    background-color: rgba(61, 61, 61, 0.05);
    color: #ecf0f1;
}

input[type="checkbox"] {
    margin-right: 10px;
}

button {
    padding: 10px 20px;
    background-color: #00ffcc;
    border: none;
    border-radius: 6px;
    color: #000;
    font-weight: bold;
    cursor: pointer;
    transition: background-color 0.3s;
}

button:hover {
    background-color: #00e6b8;
}

p {
    margin-top: 20px;
    background-color: #1abc9c;
    padding: 10px;
    border-radius: 8px;
    color: #000;
    text-align: center;
    font-weight: bold;
}
