/* Fundo escuro com overlay */
body {
    margin: 0;
    padding: 0;
    font-family: Arian, sans-serif;
    background: radial-gradient(circle at 0% 0%, #202020, #000000);
    color: white;
    text-align: center;
    scrollbar-width: none;
    -ms-overflow-style: none;
    overflow-y: auto;
    overflow-x: hidden;
}

/* Sobreposição escura para melhor contraste */
.background-overlay {
    position: absolute;
    width: 100vw;
    height: 100vh;
    background: url('../img/logonero.png') no-repeat center center/cover;
    opacity: 0.01;
    z-index: -1;
}

/* Centralizar imagem */
main {
    position: relative;
    height: calc(100vh - 60px); /* Considera o header */
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    padding: 0 20px;
}

/* Estilo da imagem do documento */
.doc-img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 16px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}
